<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/stylesheets/stylelist.css ">
</head>
<body>
  <h1>Films scheduled</h1>

<ul>
   {{#each movies}}
  <div id=container>
  <li id=classList>
    <img src="{{image}}" alt="image">
    <a href="detail/{{this._id}}">See more!</a>
 </li>
 </div>
  {{/each}}
</ul>

</body>
</html>


  