<h1>Films scheduled</h1>

<ul>
   {{#each movies}}
  <div id=container>
  <li id=classList>
    <img src="{{image}}" alt="image">
    <a href="detail/{{this._id}}">See more!</a>
 </li>
 </div>
  {{/each}}
</ul>

  