
#principal{
  padding: 10px;
  height: 80wh;
  width: 80vw;
  margin: 10px;
}
h1{
  color: whitesmoke;
}
h2{
  color: whitesmoke;
}
h3{
  color: whitesmoke;
}
li {
  color: whitesmoke;
}
#divImage{
  width: 40vw;
  height: 40vh;
  
}
#divTexto{
  float: left;
  width: 350px;
  height: 500px;
}
#divTexto h1{
  font-size: 2em;
}


